<div class="hero9-header30 thq-section-padding">
    <img alt="Pet Store Image"
        src="https://th.bing.com/th/id/R.5df2b5a0b6d20634cbcca49b5a7103a0?rik=9%2fKqv5%2biThCiuw&pid=ImgRaw&r=0"
        class="hero9-image" />
    <div class="hero9-container"></div>
    <div class="hero9-max-width thq-section-max-width">
        <div class="hero9-content">
            <h1 class="hero9-text thq-heading-1">
                <span>Welcome to our Pet Store!</span>
            </h1>
            <div class="hero9-actions">
                <button class="thq-button-outline hero9-button">
                    <span class="hero9-text1 thq-body-small">
                        <span>These pets are eagerly waiting to find their new homes!!</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="features1-layout251 thq-section-padding">
    <div class="features1-max-width thq-section-max-width">
        <div class="thq-flex-row features1-section-title">
            <div class="features1-column thq-flex-column">
                <span class="thq-body-small">
                    <span>We are one big pet family!</span>
                </span>
                <h2 class="thq-heading-2 features1-text1">
                    <span>Pet information</span>
                </h2>
            </div>
        </div>
        <div class="features1-content">
            <form action="/petlist" class="features1-row thq-flex-row">
                <div class="features1-feature1 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="dog">

                    </button>
                    <img alt="Wide Range of Products Image"
                        src="https://cdn.vn.alongwalk.info/wp-content/uploads/2023/03/27234050/image-222-hinh-anh-cho-ngao-hai-huoc-doc-nhat-hien-nay-2023-167991005026339.jpg"
                        class="thq-img-ratio-4-3 features1-feature1-image" />
                    <div class="features1-content1 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Information about the dogs</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Playful puppies!
                
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature2 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="cat">

                    </button>
                    <img alt="Professional Grooming Services Image"
                        src="https://th.bing.com/th/id/OIP.xVQFM_OCiWkzGtrdxQA5awAAAA?rs=1&pid=ImgDetMain"
                        class="thq-img-ratio-4-3 features1-feature2-image" />
                    <div class="features1-content2 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Information about the cats</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                               Beloved cats!
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature3 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="bird">

                    </button>
                    <img alt="Pet Training Classes Image"
                        src="https://th.bing.com/th/id/OIG1.ukh14BZtWvW_1jne56NQ?pid=ImgGn"
                        class="thq-img-ratio-4-3 features1-feature3-image" />
                    <div class="features1-content3 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Information about the birds</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                We are the birds!
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature3 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="rabbit">

                    </button>
                    <img alt="Pet Training Classes Image" src="https://th.bing.com/th/id/OIG1.HKHLgbsJLf0mHwBynDYr?pid=ImgGn"
                        class="thq-img-ratio-4-3 features1-feature3-image" />
                    <div class="features1-content3 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Information about the rabbits</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Rabbits, not Thor!
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="features1-actions center">
            <button class="thq-button-filled features1-button scrool-btn">
                <span class="thq-body-small">
                   Contact us
                </span>
            </button>
        </div>
    </div>
</div>
<div>
    <h2 style="text-align: center;">
        About us!
    </h2>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">
        Welcome to our pet store! We are proud to bring you the most adorable and healthy animal friends. With a mission to care for and love animals, we strive to create the best living environment for your pets. Here, you will find everything you need, from food, toys, to professional healthcare services.
    </p>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">We always consider pets as family members and are committed to providing the highest quality products and services. Our enthusiastic and experienced staff is always ready to assist and advise you on all aspects of pet nurturing and care.</p>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">Come and explore our pet store today to bring joy and happiness to your family!</p>
    <img src="https://th.bing.com/th/id/OIG1.VieHAj.8FowSkcbjEU.h?pid=ImgGn" alt="Ảnh cửa hàng thú cưng" style="display: block; margin: 20px auto; width: 340px; height: auto;">
    
</div>


<div class="contact3-contact20 thq-section-padding">
    <div class="contact3-max-width thq-section-max-width">
        <div class="contact3-section-title">
            <span class="thq-body-small">
                <span><h2>Customer Reviews</h2></span>
            </span>
        </div>
        <div class="contact3-row">
            {{{reviews}}}
        </div>
    </div>
</div>

